* {
    box-sizing: border-box;
}

.box {
    width: 450px;
    height: 450px;
    margin: 50px auto;
    padding: 20px;
    background: #999;
    border: 5px solid dodgerblue;
    border-radius: 5px;
}

.black {
    background: black;
}

.white {
    background: white;
}

h1 {
    color: dodgerblue;
}

p{
    color: black;
    font-size: 32px;
}