body {
    background: whitesmoke;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: purple;
}

h2 {
    text-align: center;
}

p {

    font-size: 2em;
}

form {
    padding: 20px;
    background: #eee;
    color: #222;
    border: 3px solid black;
    border-radius: 5px;
}



.submit {
    margin-left: 30px;
    background: olivedrab;
    color: whitesmoke;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
}

.grand {
    font-size: 36px;
    color: royalblue;
}